body{
    background-color: black;
}
canvas{
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    display: block;
    width: 1500px;
}
button{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: 960px;
    display: none;
    z-index: -2;
    width: 200px;
    height: 50px;
    font-family: serif;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
    top: -414px;
}
#highScoreContainer{
    display: block;
    position: absolute;
    top: 60px;
    right: 100px;
    border: solid 4px white;
    width: 140px;
    height: 50px;
}

#scoreContainer{
    display: block;
    position: absolute;
    top: 190px;
    right: 100px;
    border: solid 4px white;
    width: 140px;
    height: 50px;
}
#highScore{

    color: red;
    font-family: Serif;
    font-weight: 500;
    text-align: center;
    font-size: xx-large;
    padding: 6px;
}
#score{
    color: deepskyblue;
    font-family: Serif;
    font-weight: 500;
    text-align: center;
    font-size: xx-large;
    padding: 6px;
}
#fuelCounter{
    display: block;
    position: absolute;
    top: 410px;
    right: 60px;
}
#fuelCounterBar{
    border: solid 4px white;
    width: 90px;
    height: 500px;
    background: red;
}
#speedCounter{
    display: block;
    position: absolute;
    top: 410px;
    right: 190px;

}
#speedCounterBar{
    width: 90px;
    height: 500px;
    border: solid 4px white;
    background: linear-gradient(to bottom, #bf0303 1%,#eda704 44%,#0c6000 100%);
}
#loadScreen{
    width : 100%;
    height : 100%;
    display: block;
}

#speedCounterLabel{
    color: white;
    display: block;
    position: relative;
    text-align: center;
}

#fuelCounterLabel{
    color: white;
    display: block;
    position: relative;
    text-align: center;
}

#speedCounterLevel{
    width: 100%;
    height: 10%;
    background-color: black;
}

#fuelCounterLevel{
    width: 100%;
    height: 0px;
    background-color: black;
}